%h1 t("Editing") <%= singular_name.humanize %>

- form_for(@<%= singular_name %>) do |form|
  = render :partial => 'form', :locals => {:form => form}
  %p= form.submit t('update')

%p
  = link_to t('show'), @<%= singular_name %>
  = link_to t('back'), <%= plural_name %>_path
