%h1 t("New") <%= singular_name.humanize %>

- form_for(@<%= singular_name %>) do |form|
  = render :partial => 'form', :locals => {:form => form}
  %p= form.submit t("create")

%p= link_to t('back'), <%= plural_name %>_path
