%dl
<% for attribute in attributes -%>
  %dt <%= attribute.column.human_name %>
  %dd= h @<%= singular_name %>.<%= attribute.name %>
<% end -%>

%p
  = link_to t('edit'), edit_<%= singular_name %>_path(@<%= singular_name %>)
  |
  = link_to t('back'), <%= plural_name %>_path
